<div class="container">

  <h3>Time Periods</h3>


  <% @periods.each do |period| %>
  <hr>
  <img class="post-image-small" src="<%= period.image %>" alt="image for post">
  <h4><%= link_to period.name, period_path(period) %></h4>
  <h6><%= period.description %> </h6>
  <h6>By: <%= link_to period.user.first_name + " " + period.user.last_name, user_id_path(period.user.id)%></h6>



  <% end %>

</div>
